<style>
/*
	Designed By : Sohail Khan
	email       : designersohail786@gmail.com
*/
body {
	padding-top: 50px;
	font-family: 'Varela Round', sans-serif;
	line-height: 2.3em;
 	word-spacing: .09em;
  	text-align: justify;
}
/**********************************************
	BOOTSTRAP OVERRIE : START
**********************************************/
.navbar-brand {
	color: #fff !important;
	font-size: 2em;
}
.modal-header,
.btn {
	background-color: tomato;
	color: #fff;
}
.jumbotron {
	padding: 4em 8em 3em 8em;
} 
.col-lg-4 {
	cursor: pointer;
}
.navbar {
	background-color: tomato;
	padding: 0 2em; 
}
.nav li a {
	color: #fff !important;
}
.now {
	background-color: #514c59;
	color: tomato;
}
/**********************************************
	BOOTSTRAP OVERRIDE : END
**********************************************/
/**********************************************
	INTRO SECTION : START
**********************************************/
#intro img {
	width: 100%;
	height: 900%;
}
/**********************************************
	INTRO SECTION : END
**********************************************/

#features ul {
	font-family: sans-serif;
	list-style-type: none;
	font-size: 1.4em;
}
#features ul li {
	margin-top: 12px;
}
.box {
	box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75);
	-o-box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75);
	padding: 1.4em;
}


/**********************************************
	FEATURES : START
**********************************************/

/**********************************************
	FEATURES : END
**********************************************/
.tomato {
	color: tomato;
}
.fa-arrow-down {
	animation-duration: 3s;
}
/**********************************************
	OTHERS : END
**********************************************/
/**********************************************
	FOOTER : START
**********************************************/
footer {
	background-color: #2d2c3d;
	padding: 2em;
}
footer a {
	color: #afafaf;
	margin: 0px 4px;
}
footer a:hover {
	color: #fff;
}
/**********************************************
	FOOTER : END
**********************************************/

/**********************************************
	ABOUT : START
**********************************************/
#about .jumbotron h2.about {
	background-color: #514c59;
	padding: .4em 1em;
	color: #fff;
}
img.pp {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	vertical-align: center;
	margin-top: 3.5em;
}
/**********************************************
	ABOUT : END
**********************************************/
/**********************************************
	CONTACT : START
**********************************************/
#contact .row .col-lg-4 {
	padding-top: 2em;
}
/**********************************************
	CONTACT : END
**********************************************/
</style>
